body
{
    background-color: gray;
    margin: 0px;
}

header
{
    position: sticky;

    background-color: orange;
    height: 50px;
}

#menu
{
    position: relative;

    left: -31%;

    padding-right: 2px;

    position: absolute;
    width: 20%;

    background-color: rgba(0, 0, 0, 0.394);
}

.menuPos
{
    display: block;
    
    height: 5vh;
    width: 100%;

    margin: 0 auto;

    padding-top: 10px;

    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.menuPos:hover
{
    display: block;
    
    height: 5vh;
    width: 100%;

    margin: 0 auto;

    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;

    background-color: rgb(0, 0, 0);
}

#mainGrid
{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    padding-top: 20px;
    padding-left: 20px
}

#mainGrid > div
{
    height: 40vh;

    border: 2px solid red;
    border-radius: 10px;

    background-color: orange;
}

#mainGrid > div:hover
{
    height: 40vh;

    border: 5px solid red;
    border-radius: 10px;
    margin: -5px;

    word-wrap: normal;

    background-color: orange;
}

.w1
{
    grid-column: span 1;
}

.w2
{
    grid-column: span 2;
}

.w3
{
    grid-column: span 3;
}

#addTaskPanel
{
    display: none;
    position: absolute;

    left: 35%;
    top: 10%;

    height: 80vh;
    width: 30vw;

    background-color: rgba(200, 200, 200, 0.7);

}

#insertTaskPanel
{
    display: none;
    position: absolute;

    left: 35%;
    top: 35%;

    height: 30vh;
    width: 30vw;

    background-color: rgba(200, 200, 200, 0.7);

}

#closeButton_1
{
    position: absolute;
    top: 3%;
    right: 3%;

    height: 5%;
    width: 15%;
}

#closeButton_2
{
    position: absolute;
    top: 5%;
    right: 5%;

    height: 15%;
    width: 15%;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.logOutButton{
    position: relative;

    float: right;

    background-color: black;
    color: white;

    font-weight: bold;

    top: -50px;
    right: 15px;

    height: 50px;
    width: 5%;
}

.logOutButton:hover{
    position: relative;

    float: right;

    background-color: red;
    color: black;

    font-weight: bold;

    top: -50px;
    right: 15px;

    height: 50px;
    width: 5%;
}

.icon
{
    position: relative;

    left: 10%;
    top: 10%;

    width: 75%;
    height: 75%;
}