
*{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    text-decoration: none;
}

body
{
    background-color: #FCEDD5;
    margin: 0px;

}

header
{
    position: sticky;

    background-color: #FFFFFF;
    height: 50px;
}

#menu
{
    position: relative;

    left: -31%;

    padding-right: 2px;

    position: absolute;
    width: 20%;

    background-color: rgba(0, 0, 0, 0.394);
}

.menuPos
{
    display: block;
    
   
    width: 100%;

    margin: 0 auto;

    padding-top: 10px;

    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.menuPos:hover
{
    display: block;
    
    height: 5vh;
    width: 100%;

    margin: 0 auto;

    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;

    background-color: rgb(0, 0, 0);
}

main{

    margin: auto;
    margin-top: 50px;
    width: 90vw;
}
#mainGrid
{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 23.5%);
    grid-template-rows: 20vh 90vh;    
    width: 100%;

}

#mainGrid > div
{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}




#addTaskPanel
{
    display: none;
    position: absolute;

    left: 35%;
    top: 10%;

    height: 80vh;
    width: 30vw;

    background-color: rgba(200, 200, 200, 0.7);

}

#insertTaskPanel
{
    display: none;
    position: absolute;

    left: 35%;
    top: 35%;

    height: 30vh;
    width: 30vw;

    background-color: rgba(200, 200, 200, 0.7);

}

#closeButton_1
{
    position: absolute;
    top: 3%;
    right: 3%;

    height: 5%;
    width: 15%;
}

#closeButton_2
{
    position: absolute;
    top: 5%;
    right: 5%;

    height: 15%;
    width: 15%;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}


.logOutButton{
    position: relative;

    float: right;

    background-color: black;
    color: white;

    font-weight: bold;

    top: -50px;
    right: 15px;

    height: 50px;
    width: 5%;
}

.logOutButton:hover{
    position: relative;

    float: right;

    background-color: red;
    color: black;

    font-weight: bold;

    top: -50px;
    right: 15px;

    height: 50px;
    width: 5%;
}

.icon
{
    position: relative;

    left: 10%;
    top: 10%;

    width: 75%;
    height: 75%;
}



span{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.small_grid{
    display: grid;
    grid-template-columns: 62% 30%;
    grid-template-rows: 37% 43%;
    height: 75%;
    width: 80%;
    margin: auto;
    margin-top: 15%;
    row-gap: 5%;
    column-gap: 5%;


}

.ru{
    border-radius: 5px;
    background-color: black;
    width: 100%;
    height:auto
}
.ru:hover{
    background-color: rgb(8, 8, 8);
}

.do{
    border-radius: 5px;
    background-color: #FCEDD5;
    grid-row: 2/ span 1;
    grid-column: 1 / span 2;
}

#logo{
    font-size: 250%;
    float: left;
    clear: both;
    font-weight: 600;
}