body
{
    background-color: gray;
    margin: 0px;
}

header
{
    position: sticky;

    background-color: orange;
    height: 50px;
}

#menu
{
    position: relative;

    left: -31%;

    padding-right: 2px;

    position: absolute;
    height: 400px;
    width: 30%;

    background-color: orangered;
}

.menuPos
{
    display: block;

    border: 1px black solid;

    width: 100%;

    margin: 0 auto;
    background-color: orange;
}

#bb{
    display: grid;
    grid-template-columns: 10% 90%;
    height: 88vh;
    width: 80vw;
    overflow: scroll;
    padding-top: 20px;
}

#hours{
    display: grid;
    grid-template-rows: repeat(24, 120px);
    background-color: azure;

}

#hours>div:nth-child(2n+1){
    background-color: rgb(126, 126, 65);
}

#mainGrid
{
    display: grid;
    grid-template-columns:repeat(4, minmax(200px, 1fr));

    grid-column-gap: 2px;
    grid-row-gap: 0px;
    grid-template-rows: repeat(288, 10px);

}

#mainGrid>div:nth-child(48n+1),
#mainGrid>div:nth-child(48n+2),
#mainGrid>div:nth-child(48n+3),
#mainGrid>div:nth-child(48n+4){
    background-color: black;
}

#mainGrid > div
{
    height: 10px;
    background-color: orange;
}