*{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

body
{
    background-color: rgb(219, 219, 219);
    margin: 0px;
}

header
{
    position: sticky;

    background-color: #FFFFFF;
    height: 50px;
}

#menu
{
    position: relative;

    left: -31%;

    padding-right: 2px;

    position: absolute;
    width: 20%;

    background-color: rgba(0, 0, 0, 0.394);
}

.menuPos
{
    display: block;

    border: 1px black solid;

    width: 100%;

    margin: 0 auto;
    background-color: orange;
}

#bb{
    display: grid;
    grid-template-columns: 10% 90%;
    height: 88vh;
    width: 80vw;
    overflow: scroll;
    padding-top: 20px;
}

#hours{
    display: grid;
    grid-template-rows: repeat(24, 120px);
    background-color: azure;

}

#hours>div:nth-child(2n+1){
    background-color: #FCEDD5;
}

.grid
{
    grid-area: 1/2/ span 1 / span 1;
    display: grid;
    grid-template-columns:repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(288, 10px);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
}

#mainGrid>div:nth-child(8n+1),
#mainGrid>div:nth-child(8n+2),
#mainGrid>div:nth-child(8n+3),
#mainGrid>div:nth-child(8n+4){
    border-top: 0.1px solid rgba(59, 59, 59, 0.274);
}


#mainGrid>div:nth-child(48n+1),
#mainGrid>div:nth-child(48n+2),
#mainGrid>div:nth-child(48n+3),
#mainGrid>div:nth-child(48n+4){
    border-top: 0.5px solid black;
}

#mainGrid>div:nth-child(4n+1),
#mainGrid>div:nth-child(4n+2),
#mainGrid>div:nth-child(4n+3),
#mainGrid>div:nth-child(4n+4){

    border-right: 0.5px solid black;

}

#upGrid{
    position: relative;
    top: 0;
    left: 0%;
}

#hours > div{
    text-align: center;
    font-size: 30px;
    
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}


.logOutButton{
    position: relative;

    float: right;

    background-color: black;
    color: white;

    font-weight: bold;

    top: -50px;
    right: 15px;

    height: 50px;
    width: 5%;
}

.logOutButton:hover{
    position: relative;

    float: right;

    background-color: red;
    color: black;

    font-weight: bold;

    top: -50px;
    right: 15px;

    height: 50px;
    width: 5%;
}

.icon
{
    position: relative;

    left: 10%;
    top: 10%;

    width: 75%;
    height: 75%;
}



span{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.small_grid{
    display: grid;
    grid-template-columns: 62% 30%;
    grid-template-rows: 37% 43%;
    height: 75%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    row-gap: 10%;
    column-gap: 5%;
    line-height:4px;


}

.ru{
    border-radius: 5px;
    background-color: black;
    width: 100%;
    height:auto
}
.ru:hover{
    background-color: rgb(8, 8, 8);
}

.do{
    border-radius: 5px;
    background-color: #F5F5F5;
    grid-row: 2/ span 1;
    grid-column: 1 / span 2;
}

.do > h3{
    display: inline-block;
    width: max-content;
    text-align: center;
    margin-left: 10px;
}

#logo{
    font-size: 250%;
    float: left;
    clear: both;
    font-weight: 600;
}

.arrow{
    height: 80%;
    width: auto;
    float: right;

margin-top: 1%;
margin-right: 10px;
}

.bb{
    height: 80%;
    width: auto;
    margin: auto;
}
a {
    color: orange;
    transition: 0.2s;
}
a:hover {
    color: red;
}

.card{
    border-radius: 2px;
    text-align: center;
}